extends base

block content
    tr
        td
            form(method="post" action="/r")
                input(type="hidden" name="fnid" value="2vG91mWflePBvQWgpQWjHk")
                input(type="hidden" name="fnop" value="submit-page")
                script(type="text/javascript").
                    function tlen(el) {
                        var n = el.value.length - 80;
                        el.nextSibling.innerText = n > 0 ? n + ' too long' : '';
                    }
                table(border="0" cellpadding="5")
                    tr
                        td Title
                        td
                            input(type="text" name="title" value="" size="50" oninput="tlen(this)" onfocus="tlen(this)")
                            span(style="margin-left:10px")
                    tr
                        td Url
                        td
                            input(type="text" name="url" value="" size="50")
                    tr
                        td
                        td
                            b or
                    tr
                        td Text
                        td
                            textarea(name="text" rows="4" cols="49")
                    tr
                        td
                        td
                    tr
                        td
                        td
                            input(type="submit" value="Submit")
                    tr(style="height:20px")
                    tr
                        td
                        td
                            | Leave url blank to submit a question for discussion. If there
                            | is no url, the text (if any) will appear at the top of the
                            | thread.
                            br