mixin comment(element)
    tr(id=element._id)
        td
            table(border="0")
                tr
                    td.ind
                        img(src="s.gif" height="1" width="0")
                    td.default
                        div(style="margin-top:2px; margin-bottom:-10px;")
                            span.comhead
                                a.hnuser(href="user?id=" + element.owner.username)
                                    font(color="#3c963c") #[strong #{element.owner.username}]
                                | &nbsp
                                span.age
                                    a(href="item?id=16847762") #{element.timeSince}
                                span#unv_16847762
                                span.par
                                |  |&nbsp
                                span.reply
                                    a(href='reply?id=' + element._id + '&goto=' + post._id) reply
                                |  |&nbsp
                                if (element.owner.username === username)
                                    a(href="edit?id=16847762") edit
                                    |  |&nbsp
                                    a(href="delete-confirm?id=16847762&goto=item%3Fid%3D16791313") delete
                        br
                        .comment
                            span.c00
                                | #{element.comment}
                        br
                        each reply in element.replies
                            table.comment-tree(style="margin-left: 20px" border="0")
                                +comment(reply)