extends base
include elements/comment
include elements/post

block content
    if (post !== null)
        table.fatitem(border="0")
            + post(post, "/item?id=" + post._id)
            if (post.__type === 'Ask')
                tr(style='height:2px')
                    tr
                        td(colspan='2')
                        td
                            | #{post.text}
            tr(style="height:10px")
            if (username !== undefined)
                tr
                    td(colspan="2")
                    td
                        form(method="post" action="/comment")
                            input(type="hidden" name="postId" value=post._id)
                            textarea(name="text" rows="6" cols="60" required autofocus)
                            br
                            br
                            input(type="submit" value="Add comment")
        table.comment-tree(border="0")
            each element in comments
                + comment(element, "/item?id=" + post._id)
        br