extends base

block content
    table.fatitem(border="0")
        each comment in comments
            tr
                td(colspan="1")
                td.default
                    div(style="margin-top:2px; margin-bottom:-10px;")
                        span.comhead
                            a.hnuser(href="user?id=" + comment.owner.username)
                                font(color="#3c963c") #[strong #{comment.owner.username}]&nbsp;
                                | #{comment.timeSince}
                            span.parent
                                if (comment.parentComment !== undefined)
                                    a.parent(href="item?id=" + comment.post._id + "#" + comment.parentComment) &nbsp;| parent
                            span.ogpost
                                |  | on:&nbsp
                                a(href="item?id=" + comment.post._id) #{comment.post.title}
                            br
                            br
                            | #{comment.comment}
                            br
                            br
                            br